<aside>
  <ul>
    {{#each doc}}
    <li>
      <a href="#{{{chapter.title}}}">{{{this.title}}}</a>
      {{#if pages}}
      <ul>
        {{#each pages}}
        {{#if title}}
        <li><a href="#{{{title}}}">{{{title}}}</a></li>
        {{/if}}
        {{/each}}
      </ul>
      {{/if}}
    </li>
    {{/each}}
  </ul>
</aside>
{{#each doc.chapters}}
<section id="doc-{{{name}}}-content">
  <a name="{{{title}}}"></a>
  <h1>{{{chapter.title}}}</h1>
  {{#if chapter.pages}}
  {{#each chapter.pages}}
  <a name="{{{title}}}"></a>
  <article id="doc-{{name}}-page">
    <h2>{{{title}}}</h2>
    {{{content.html}}}
  </article>
  {{/each}}
  {{/if}}
</section>
{{/each}}